/* for inline code */
:not(pre):not(.hljs) > code {
	color: black; /* Change the old color so it seems less like an error */
	font-size: inherit;
    background-color: #e3e3e3; /* Delikatne szare tło */
}
